<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <title>Admin</title>  
    </head>

    <style>
        body{
            padding: 200px;
            background-color: #a5cc82;
        }
        div{
            margin:50px;
        }
    </style>

    <body>
       
        <center>
            <h2 style = "color:red">Welcome Admin</h2><br/><br/>
            <div>
                <form action="/any_info" method="post">
                    <label for="id"></label>
                    <input type="text" id="id" name="id" placeholder="Enter Person ID">
                    <button type="submit" class="btn btn-info btn-lg" name="tax" value="tax">Tax</button>
                    <button type="submit" class="btn btn-info btn-lg" name="person" value="person">General</button>
                </form>
            </div>
            <div>
                <a href="/add_user" class="btn btn-success btn-lg ">Add User</a>
                <a href="/delete_user" class="btn btn-danger btn-lg ">Delete User</a>
                <a href="/update_user" class="btn btn-info btn-lg ">Update User</a>
                <a href="/tax_info" class="btn btn-success btn-lg ">Pay Tax</a>
        
            </div>
            <div>Go Back To <a href="/">Home</a></div>
            
        </center>
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
