<!DOCTYPE html>
<html>
    <head>
        <title>Login Register</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <style>
        html{
            padding:50px;
        }
        body{
            background-color:#a5cc82;
        }
    </style>
    <body>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 style = "color:red" class="text-center">Login Admin</h2>
                <% if(message.length > 0){ %>
                    <div class="alert alert-danger"><%= message%></div>
                <% } %>
            
                <form action="/login" method="post">
                    
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username">
                    </div>
        
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
        
                    <button type="submit" class="btn btn-success btn-lg">Login</button>
                </form>
                <div>Need an account <a href="/signup">Register</a></div>
                <div>Go Back <a href="/">Home</a></div>
            </div>    
        </div>
    </body>
</html>